Carthage/*
Cartfile.resolved
XEasyMotion/*.playground/*
*.sw*
.DS_Store
tags
vendor/*
XEasyMotion.xcodeproj/project.xcworkspace/xcuserdata/*
XEasyMotion.xcodeproj/project.xcworkspace/xcshareddata/
XEasyMotion.xcodeproj/xcuserdata/*
*~
